.burger {
	display: none;
	position: relative;
	width: 44px;
	height: 44px;

	@include mq("tablet", max) {
		display: block;
	}

	&__line,
	&:before,
	&:after {
		content: "";
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		width: 30px;
		left: 7px;
		transition: transform 0.4s;
	}

	&:before {
		top: 12px;
	}

	&:after {
		bottom: 10px;
	}

	&--active::before {
		transform: rotate(45deg);
		top: 21px;
	}

	&--active::after {
		transform: rotate(-45deg);
		bottom: 21px;
	}

	&--active .burger__line {
		transform: scale(0);
	}
}

.button-submit {
	background-color: #3b3a3a;
	color: #edcd1f;
	font-family: AvenirNextCyr-Regular;
	font-weight: 400;
	padding: 10px 15px;
	transition: color ease-in-out 0.3s, background-color ease-in-out 0.3s;


	&:hover {
		color: #3b3a3a;
		background-color: #edcd1f;
	}
}