.title {
	font-family: AvenirNextCyr-Medium;
	font-size: 55px;
	font-weight: 500;
	text-transform: uppercase;
	position: relative;

	&::after {
		content: "";
		display: block;
		background-color: #edcd1f;
		width: 100px;
		height: 10px;
		position: absolute;
		bottom: -25px;
	}

	&_left::after {
		left: 1;
	}

	&_center::after {
		left: 50%;
		transform: translateX(-50%);
	}
}
