.hero {
	background-image: url(../images/hero.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 320px 0 450px 0;
	}

	&__title {
		color: #fff;
		font-size: 60px;
		text-align: center;
		line-height: 1.1;
		letter-spacing: 5px;
		text-transform: uppercase;
		margin-bottom: 60px;

		@include mq("tablet", max) {
			font-size: 40px;
			margin-bottom: 40px;
		}

		@include mq("tablet-s", max) {
			font-size: 30px;
			margin-bottom: 30px;
		}

		@include mq("phone", max) {
			font-size: 23px;
			margin-bottom: 20px;
		}

		@media screen and (max-width: 400px) {
			font-size: 17px;
		}
	}

	&__arrow {
		@include mq("tablet-s", max) {
			width: 44px;
		}

		@media screen and (max-width: 400px) {
			width: 34px;
		}
	}
}
