@mixin font-face($font-family, $url, $weight) {
	@font-face {
		font-family: "#{$font-family}";
		src: url("../fonts/#{$url}.woff2") format("woff2"), url("../fonts/#{$url}.woff") format("woff");
		font-weight: #{$weight};
		font-display: swap;
		font-style: normal;
	}
}

@include font-face(AvenirNextCyr-Italic, AvenirNextCyr-Italic, 300);
@include font-face(AvenirNextCyr-Bold, AvenirNextCyr-Bold, 700);
@include font-face(AvenirNextCyr-Medium, AvenirNextCyr-Medium, 500);
@include font-face(AvenirNextCyr-Regular, AvenirNextCyr-Regular, 400);
@include font-face(AvenirNextCyr-Heavy, AvenirNextCyr-Heavy, 900);
