html,
body {
	height: 100%;
}

body {
	display: flex;
	color: #3b3a3a;
	flex-direction: column;
	font-family: AvenirNextCyr-Regular;
	font-weight: 400;
}

.main {
	flex-grow: 1;
}

.container {
	max-width: 980px;
	margin: 0 auto;
	padding: 0 15px;

	&_large {
		max-width: 1180px;
	}
}


.logo {
	&__img {
		object-fit: contain;
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
