.promo {
  background-color: #edcd1f;

}

.promo__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.promo__item {
  color: #3d5975;
  text-align: center;
  padding: 45px 0 55px 0;
  flex: 0 1 33.33%;

&_decor {
  position:relative;
}

&_decor::before {
  content: "";
  display: block;
  background-color: #fff;
  width: 2px;
  height: 80px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%)
}

&_decor::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 2px;
  height: 80px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%)
 }
}

.promo__num,
.promo__text {
  font-family: AvenirNextCyr-Medium;
  font-weight: 600;
}

.promo__num {
  display: inline-block;
  font-size: 40px;

  margin-bottom: 15px;
}

.promo__text {
  font-size: 22px;
}