.info {
	background-color: #f7f5f5;
	padding: 30px 0 60px 0;

	@include mq("tablet", max) {
		padding-bottom: 50px;
	}

	@include mq("phone", max) {
		padding-bottom: 40px;
	}
}

p {
	color: #3b3a3a;
}

.info__title {
	color: #757575;
	text-align: center;
	margin-bottom: 50px;
}

.info__text,
.info__list-title {
	font-family: AvenirNextCyr-Bold;
	font-weight: 700;
	margin-bottom: 15px;
}

.info__text {
	text-align: center;
}

.info__list {
	margin-bottom: 15px;
}

.info__text-italic {
	font-style: italic;
}

.info__text,
.info__list-title,
.info__text-italic,
.info__item,
.info__text-italic {
	@include mq("phone", max) {
		font-size: 15px;
	}
}
