.header {
	background-color: #1e2d3b;
	position: fixed;
	width: 100%;
	display: flex;
	z-index: 2;

	&__logo-block {
		background-color: #edcd1f;
		width: 332px;
		height: 100px;
		padding: 26px;
		flex-shrink: 1;
	}

	&__logo {
		display: flex;
		align-items: center;
		flex-shrink: 0;
	}

	&__text {
		color: #3e3d39;
		font-size: 23px;
		font-family: AvenirNextCyr-Bold;
		font-weight: 700;
		line-height: 1;
		text-transform: uppercase;
		margin-left: 20px;
	}

	&__menu-block {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-grow: 1;
		flex-shrink: 0;
		padding-right: 15px;
		height: 100px;

		
	}

	&__menu {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px 0;
		margin-right: 50px;
	}

	&__item {
		margin: 0 23px;
	}

	&__link {
		color: #fff;
		font-size: 15px;
		text-transform: uppercase;
		transition: color 0.3s;
		padding: 20px 0;

		&:hover {
			color: #edcd1f;
		}
	}

	&__instagram-link {
		flex-shrink: 0;
	}
}
